h1{
    margin-left: 30px;
    margin-bottom: 40px;
    color: #FF3548;
    font-size: 30px;
}
.employee-table {
    width: 950px;
    margin-left: 20px;
    font-size: 18px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  thead {
    background-color: #F7F9FC;
    height: 60px;
  }
  
  th {
    padding: 10px;
    text-align: left;
    color: #0B59A1;
    font-size: 20px;
  }
  
  td {
    color: #2C435A;
    padding: 10px;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  .employee-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .recherche-employee{
    margin-top: 60px;
    margin-left: 30px;
    margin-bottom: 30px;
    width: 680px;
    height: 50px;
    border-radius: 4px;
    border: 2px solid #E2E8F0;
    padding-left: 23px;
    outline: none;
   }

   .ajouter-employee{
    font-size: 15px;
    width: 200px;
    height: 55px;
    margin-left: 30px;
    padding: 10px;
    background-color: #FF3548;
    color: #fff;
    border-radius: 4px;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }

  .pagination {
    display: flex;
    list-style: none;
    margin: 20px 0;
    padding: 0;
    justify-content: center;
  }
  
  .pagination button{
    width: 50px;
    height: 30px;
    margin: 6px;
    border:none;
    border-radius: 4px;
    cursor: pointer;
  }

  .pagination .active {
    background-color: #FF3548;
    color: #fff;
  }
  